body {
    background-color: #e673c1;
}

#signInBtn{
    display: flex;
  align-items: center;
  justify-content: center;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    margin: 20px;
    color: #fff;
}

.userDisplayName {
    text-align: center;
}

#profilePic {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    height: auto;
}

#userInfo {
    background-color: #f5b0df;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: #fff;

}
/* 
#signOutBtn {

} */


#createButton {
    background-color: #f5b0df;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
}

#theForm{
    background-color: violet;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}

#grossPrice {
    background-color:#fff;
    font-size: 2rem;
    text-align: center;
    border-radius: 20px;
    padding: 10px;
}

#priceInfo{
    font-size: 2.8rem;
    font-weight: 550;
}